<div style="height:100%; width: 100%">
    <div>
        <div id="googleMap2" style="height:400px; width: 400px"></div>
        <script>
            function initMap2() {
                var mapProp2 = {
                    center: new google.maps.LatLng(32.881534, -79.975643),
                    zoom: 17,
                };
                var map = new google.maps.Map(document.getElementById("googleMap2"), mapProp2);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUIh7dUUgDA6YULtqIrllNzPer8TFHInI&callback=initMap2"></script>
    </div>
</div>