<div class="panel-group">
  <div class="panel panel-default panel-border">
    <div class="panel-heading panel-header cursor-pointer" (click)="setMarker()">
      <div class="panel-title">
        <div data-toggle="collapse" [attr.data-target]="'#location_'+location.locId" aria-expanded="false" [attr.aria-controls]="'collapse_location' + location.locId">
          {{location.name}}
        </div>
      </div>
    </div>
    <div id="{{'location_' + location.locId}}" class="panel-collapse panel-body collapse">
      <ul class="nav nav-tabs">
        <li class="nav-item active">
          <a class="nav-link" data-toggle="tab" aria-expanded="true" href="{{'#specials' + location.locId}}">Specials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="{{'#info' + location.locId}}">Info</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane container active" style="width: 100%; background-color: #C8E6C9" [attr.id]="'specials' + location.locId">
          <app-specials-component [location]="location"></app-specials-component>
        </div>
        <div class="tab-pane container" style="width: 100%" [attr.id]="'info' + location.locId">
          <p>
            Address: {{location.address.physicalAddress.street}}<br/> 
            {{location.address.physicalAddress.city}}, {{location.address.physicalAddress.state}} {{location.address.physicalAddress.zip}}
          </p>
        </div>
      </div>

      <div>
        <table style="width:100%">
          <tr>
            <td style="width:25%; text-align:center">
              <a href="{{location.social.facebook}}" target="_blank">
                <i class="fab fa-facebook-square fa-3x btn-color" placement="top" ngbTooltip="Tooltip on top"></i>
              </a>
            </td>
            <td style="width:25%; text-align:center">
              <a href="{{location.social.twitter}}" target="_blank">
                <i class="fab fa-twitter-square fa-3x btn-color"></i>
              </a>
            </td>
            <td style="width:25%; text-align:center">
              <a href="{{location.social.instagram}}" target="_blank">
                <i class="fab fa-instagram fa-3x btn-color"></i>
              </a>
            </td>
            <td style="width:25%; text-align:center">
              <a href="{{location.social.website}}" target="_blank">
                <i class="fas fa-home fa-3x btn-color"></i>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>