.main-style {
    font-family: Helvetica, Arial, sans-serif;
}

.panel-header{
    background-color: #C8E6C9 !important;
    border-style: solid;
    border-radius: 1rem;
    border-width: .1rem;
    font-style: inherit;   
}

.panel-border{
    border-style: solid;
    border-radius: 1rem !important;
    border-width: .1rem;
    border-color: rgb(48, 138, 51);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5)
}

.header{
    padding: .5rem;
    text-align: center;
    height: 100%;
}

.header-component{
    height: 20vh;
    margin:2rem;
}

.body-component{
    height: 80vh;
    margin:2rem;
}

.split-container{
    width: 100%;
    height: 100%;
}

.locations-component-style{
    padding-right: 2rem;  
}

.map{
    height: 65rem;
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-color {
    color: rgb(48, 138, 51);
}