.main-style{
    font-family: Helvetica, Arial, sans-serif;
}

.panel-header{
    background-color: #C8E6C9 !important;
    border-style: solid;
    border-radius: 1rem;
    border-width: .1rem;
    font-style: inherit;   
}

.panel-border{
    border-style: solid;
    border-radius: 1rem !important;
    border-width: .1rem;
    border-color: rgb(48, 138, 51);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .5)
}

.header{
    padding: .5rem;
    text-align: center;
    height: 100%;
}

.header-component{
    height: 20vh;
    margin:2rem;
}

.body-component{
    height: 80vh;
    margin:2rem;
}

.locations-component{
    width: 35%;
    height: 100%;
    padding-right: 2rem;  
}

.map-component{
    width: 65%;
    height: 100%;
}

.specials-component{
    padding: 1rem 0;
}

.inner-container{
    padding: 1rem;
    background-color: white;
    border-style: solid;
    border-width: .1rem;
    border-radius: .5rem;
    border-color: #C8E6C9;
}

.map{
    height: 70rem;
    width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

.btn-color{
    color: rgb(48, 138, 51);
}

/* OVERWRITES */
.panel-body{
    padding:1rem;
}

.nav-tabs{
    border: none;
    padding: 0 1rem 0 1rem;
}

.nav-tabs .nav-item .nav-link{
    padding: .5rem 1rem;
    background-color: gainsboro;
    border-style: solid;
    border-width: .1rem;
    border-color: #b5b3b3;
    border-bottom-color: transparent;
}

.nav-tabs .nav-item.active .nav-link{
    background-color: #C8E6C9;
    border-color: #C8E6C9;
    border-bottom-color: transparent;
}

.nav-tabs .nav-item.active .nav-link.inner-nav-item{
    background-color: white !important;
}

.tab-content .tab-pane.container.active{
    background-color: #C8E6C9;
    border-style: solid;
    border-width: .1rem;
    border-radius: .5rem;
    border-color: #C8E6C9;
}